@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  .print\:p-0,
  .print\:p-0 * {
    visibility: visible;
  }
  .print\:p-0 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}